@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Hoşgeldiniz</h1>
    <p>Futbolcular Hakkında Daha fazla bilgi almak için tıklayınız.<a href="https://www.transfermarkt.com.tr/">  Sayfasını ziyaret edebilirsiniz.</a></p>
</div>
